<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TM : Forgot Password</title>
    <link rel="stylesheet" href="/auth.css">
</head>
<body>
    <div id="container">
        <form action="/forgotPassword" method="post">
            <input type="email" required placeholder="Enter your email" name = "email"><br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <%if(error.length>0){%>
        <h3 id="error"><%=error%></h3>
    <%}%>
</body>
</html>